<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubsNITP"
        tools:targetApi="31">
        <activity
            android:name=".natvanshExtraPaymentPage"
            android:exported="false" />
        <activity
            android:name=".roboticsExtraPaymentPage"
            android:exported="false" />
        <activity
            android:name=".gybExtraPaymentPage"
            android:exported="false" />
        <activity
            android:name=".asceExtraPaymentPage"
            android:exported="false" />
        <activity
            android:name=".natvanshPaymentPage"
            android:exported="false" />
        <activity
            android:name=".roboticsPaymentPage"
            android:exported="false" />
        <activity
            android:name=".gybPaymentPage"
            android:exported="false" />
        <activity
            android:name=".ascePaymentPage"
            android:exported="false" />
        <activity
            android:name=".ROBOTICS"
            android:exported="false" />
        <activity
            android:name=".GYBclub"
            android:exported="false" />
        <activity
            android:name=".NATVANSH"
            android:exported="false" />
        <activity
            android:name=".ASCEclub"
            android:exported="false" />
        <activity
            android:name=".teslaExtraPayment"
            android:exported="false" />
        <activity
            android:name=".saptakExtraPayment"
            android:exported="false" />
        <activity
            android:name=".ieeeExtraPayment"
            android:exported="false" />
        <activity
            android:name=".hackslashExtraPayment"
            android:exported="false" />
        <activity
            android:name=".gdscExtraPayment"
            android:exported="false" />
        <activity
            android:name=".`Think India Extra Payment`"
            android:exported="false" />
        <activity
            android:name=".descoExtraPayment"
            android:exported="false" />
        <activity
            android:name=".asmeExtraPayment"
            android:exported="false" />
        <activity
            android:name=".teslaPayment"
            android:exported="false" />
        <activity
            android:name=".saptakPatment"
            android:exported="false" />
        <activity
            android:name=".hackslashPayment"
            android:exported="false" />
        <activity
            android:name=".ieeePayment"
            android:exported="false" />
        <activity
            android:name=".gdscPaymenmt"
            android:exported="false" />
        <activity
            android:name=".`Think India Payment`"
            android:exported="false" />
        <activity
            android:name=".descoPayment"
            android:exported="false" />
        <activity
            android:name=".asmePayment"
            android:exported="false" />
        <activity
            android:name=".`Think India`"
            android:exported="false" />
        <activity
            android:name=".ASMEclub"
            android:exported="false" />
        <activity
            android:name=".SAPTAK"
            android:exported="false" />
        <activity
            android:name=".HAckSlash"
            android:exported="false" />
        <activity
            android:name=".GDSC"
            android:exported="false" />
        <activity
            android:name=".TESLA"
            android:exported="false" />
        <activity
            android:name=".IEEE"
            android:exported="false" />
        <activity
            android:name=".DESCO"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>